*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  /*takah agr user default setting change kry ya zoom in kry tb font change ho*/
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**********************************************/
/*body*/
/**********************************************/
body {
  font-family: "Lato", SansSerif, "Times New Roman";
  padding: 3rem;
  line-height: 1.7;
  font-weight: 400;
  color: #777777;
}

/**********************************************/
/*headings*/
/**********************************************/
.first-heading {
  color: #fff;
  text-transform: uppercase;
  /*to remove shakiness in the animation*/
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.first-heading--main {
  font-weight: 400;
  font-size: 5rem;
  letter-spacing: 3rem;
  -webkit-animation: moveto_right 2s 1s ease-out;
          animation: moveto_right 2s 1s ease-out;
}

.first-heading--sub {
  font-size: 2rem;
  letter-spacing: 1.5rem;
  font-weight: 700;
  -webkit-animation: moveto_left 2s 1s ease-out;
          animation: moveto_left 2s 1s ease-out;
  margin-bottom: 6rem;
}

.heading-secondary {
  font-size: 3.5rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(97, 255, 97, 0.808)), to(#27b485));
  background: linear-gradient(to right, rgba(97, 255, 97, 0.808), #27b485);
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  font-weight: 700;
  color: transparent;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.heading-secondary:hover {
  -webkit-transform: skewX(15deg) skewY(2deg) scale(1.1);
          transform: skewX(15deg) skewY(2deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

/**********************************************/
/*Button*/
/**********************************************/
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5rem;
  display: inline-block;
  padding: 1.3rem 1.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  /*bcz its child is absolute*/
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.5) scaleY(1.7);
          transform: scaleX(1.5) scaleY(1.7);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn--white {
  color: #777777;
  background-color: #fff;
}

.btn--white::after {
  background-color: #fff;
}

.btn--green {
  color: #fff;
  background-color: #80d671;
}

.btn--green::after {
  background-color: #80d671;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 9rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--animated {
  /*backwards used to reverse animation flow*/
  -webkit-animation: moveto-up 0.3s 3s ease-out backwards;
          animation: moveto-up 0.3s 3s ease-out backwards;
}

.btn-text:link, .btn-text:visited {
  color: #80d671;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #80d671;
  padding: 3px;
  font-size: 1.6rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-text:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #80d671;
  color: #fff;
}

.btn-text:active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.composition {
  position: relative;
}

.composition__photos {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  outline-offset: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.composition__photos--p1 {
  left: 0;
  top: -2rem;
}

.composition__photos--p2 {
  right: 0;
  top: 2rem;
}

.composition__photos--p3 {
  left: 20%;
  top: 10rem;
}

.composition__photos:hover {
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.9);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.9);
  z-index: 20;
  outline: solid 1rem #80d671;
  -webkit-transform: scale(1.02) translateY(-1rem);
          transform: scale(1.02) translateY(-1rem);
}

.composition:hover .composition__photos:not(:hover) {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1rem solid transparent;
  background-clip: padding-box;
  height: 30rem;
  border-radius: 3px;
  width: 90%;
  margin: 0 5%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(rgba(97, 255, 97, 0.808)), to(#27b485));
  background: linear-gradient(to right, rgba(97, 255, 97, 0.808), #27b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.feature-box:hover {
  -webkit-transform: translateY(-1.3rem) scale(1);
          transform: translateY(-1.3rem) scale(1);
  -webkit-box-shadow: 0 10px 2rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 10px 2rem rgba(0, 0, 0, 0.6);
}

.story {
  padding: 4rem;
  padding-left: 10rem;
  width: 63%;
  margin: 0 auto;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 3px;
  vertical-align: middle;
  font-size: 1.6rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
  margin-bottom: 8rem;
}

.story__shape {
  height: 15rem;
  width: 15rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  -webkit-transform: translateX(-3rem) skewX(12deg);
          transform: translateX(-3rem) skewX(12deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
}

.story__shape img {
  height: 100%;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  backface-visibility: hidden;
}

.story__text {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  font-size: 1.7rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.story:hover .story__caption {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.story:hover .story__shape img {
  -webkit-transform: scale(1) rotate(0.02deg);
          transform: scale(1) rotate(0.02deg);
  -webkit-filter: blur(3px) brightness(80%);
          filter: blur(3px) brightness(80%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.book__form {
  width: 60%;
  padding: 6rem;
}

.form-group:not(:last-child) {
  margin-bottom: 3rem;
}

.form-input {
  padding: 1.5rem 2rem;
  border-radius: 2px;
  font-size: 1.5rem;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 2px solid transparent;
  font-family: inherit;
  color: inherit;
}

.form-input:focus {
  outline: none;
  -webkit-box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #80d671;
}

.form-input::-webkit-input-placeholder {
  color: #777777;
}

/**********************************************/
/*animations*/
/**********************************************/
@-webkit-keyframes moveto_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes moveto_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveto_left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveto_left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveto-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveto-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/**********************************************/
/*Header*/
/**********************************************/
.header {
  position: relative;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(97, 255, 97, 0.7)), to(rgba(39, 180, 133, 0.7))), url("../image/hero.jpg");
  background: linear-gradient(to right bottom, rgba(97, 255, 97, 0.7), rgba(39, 180, 133, 0.7)), url("../image/hero.jpg");
  background-size: cover;
  background-position: top;
  height: 95vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.header__logo {
  height: 3.5rem;
}

.header__full-textbox {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.tours-cards {
  position: relative;
  height: 43rem;
  -webkit-perspective: 150rem;
          perspective: 150rem;
  margin-bottom: 8rem;
}

.tours-cards__side {
  position: absolute;
  top: 0;
  left: 0;
  height: 43rem;
  width: 80%;
  margin: 0 10%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  overflow: hidden;
  border: 0.1rem double rgba(201, 199, 199, 0.849);
}

.tours-cards__side--front {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.tours-cards__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.tours-cards__side--back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffbb00), to(#ff772e));
  background-image: linear-gradient(to right bottom, #ffbb00, #ff772e);
}

.tours-cards__side--back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(97, 255, 97, 0.808)), to(#27b485));
  background-image: linear-gradient(to right bottom, rgba(97, 255, 97, 0.808), #27b485);
}

.tours-cards__side--back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2997ff), to(#5442fa));
  background-image: linear-gradient(to right bottom, #2997ff, #5442fa);
}

.tours-cards:hover .tours-cards__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.tours-cards:hover .tours-cards__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.tours-cards__pic {
  height: 20rem;
  background-blend-mode: screen;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.tours-cards__pic-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffbb00), to(#ff772e)), url("../image/nat-5.jpg");
  background-image: linear-gradient(to right bottom, #ffbb00, #ff772e), url("../image/nat-5.jpg");
}

.tours-cards__pic-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(97, 255, 97, 0.808)), to(#27b485)), url("../image/nat-6.jpg");
  background-image: linear-gradient(to right bottom, rgba(97, 255, 97, 0.808), #27b485), url("../image/nat-6.jpg");
}

.tours-cards__pic-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2997ff), to(#5442fa)), url("../image/nat-7.jpg");
  background-image: linear-gradient(to right bottom, #2997ff, #5442fa), url("../image/nat-7.jpg");
}

.tours-cards__heading {
  font-size: 2.3rem;
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 10rem;
  right: 2rem;
  width: 60%;
}

.tours-cards__heading--span {
  padding: 0.8rem 1rem;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}

.tours-cards__heading--span-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 187, 0, 0.7)), to(rgba(255, 119, 46, 0.7)));
  background-image: linear-gradient(to right bottom, rgba(255, 187, 0, 0.7), rgba(255, 119, 46, 0.7));
}

.tours-cards__heading--span-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(97, 255, 97, 0.7)), to(rgba(39, 180, 133, 0.7)));
  background-image: linear-gradient(to right bottom, rgba(97, 255, 97, 0.7), rgba(39, 180, 133, 0.7));
}

.tours-cards__heading--span-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 151, 255, 0.7)), to(rgba(84, 66, 250, 0.7)));
  background-image: linear-gradient(to right bottom, rgba(41, 151, 255, 0.7), rgba(84, 66, 250, 0.7));
}

.tours-cards__details ul {
  list-style: none;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.tours-cards__details ul li {
  text-align: center;
  padding: 0.6rem;
  font-size: 1.6rem;
}

.tours-cards__details ul li:not(:last-child) {
  border-bottom: 0.6px solid rgba(201, 199, 199, 0.3);
}

.tours-cards__cta {
  position: relative;
}

.cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}

.cta__price {
  color: #fff;
  padding: 3rem;
}

.cta__price--only {
  font-size: 2rem;
}

.cta__price--box {
  font-size: 5rem;
  font-weight: 100;
  margin-bottom: 8rem;
}

.cta__btn {
  padding-top: 0.9rem 1.5rem !important;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-large {
  margin-bottom: 7rem;
}

.u-margin-top-large {
  margin-top: 6rem;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.u-row {
  max-width: 114rem;
  margin: 0 auto;
}

.section-about {
  background: rgba(250, 246, 246, 0.938);
  padding: 20rem 0;
  margin-top: -20vh;
  height: 130vh;
}

.section-feature {
  padding: 15rem 0;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(97, 255, 97, 0.69)), to(rgba(39, 180, 133, 0.7))), url("../image/nat-4.jpg");
  background: linear-gradient(to right bottom, rgba(97, 255, 97, 0.69), rgba(39, 180, 133, 0.7)), url("../image/nat-4.jpg");
  background-size: cover;
  height: 80vh;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  margin-top: -10rem;
}

.section-feature > * {
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
}

.section-tours {
  background-color: rgba(250, 246, 246, 0.938);
  padding: 15rem 0 5rem 0;
  margin-top: -5rem;
  height: 90rem;
}

.section-stories {
  padding: 5rem 0;
  background-color: rgba(250, 246, 246, 0.938);
}

.section-book {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(97, 255, 97, 0.808)), to(#27b485));
  background-image: linear-gradient(to right bottom, rgba(97, 255, 97, 0.808), #27b485);
  padding: 10rem 0;
}

.book {
  background-size: 100%;
  height: 46rem;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 50%, transparent 50%), url("../image/nat-10.jpg");
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=main.css.map */