$color-primary:#7ed56f;
$color-primary-light:#60ff60ce;
$color-primary-dark:#28b485;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: black;
$color-grey-light:rgba(250, 246, 246, 0.938);
$color-grey-light-1:rgba(250, 246, 246, 0.89);
$default-font-size:1.6rem;

