$color-primary:hsl(111, 55%, 64%);
$color-primary-light:hsla(120, 100%, 69%, 1);
$color-primary-dark:hsl(160, 64%, 43%);

$color-secondary-light:hsl(44, 100%, 50%);
$color-secondary-dark:hsl(21, 100%, 59%);

$color-tertiary-light:hsl(209, 100%, 58%);
$color-tertiary-dark:hsl(246, 95%, 62%);

$color-grey-dark: #777777;
$color-white: #fff;
$color-black: black;
$color-grey-light:rgba(250, 246, 246, 0.938);
$color-grey-light-1:rgba(201, 199, 199, 0.849);
$default-font-size:1.6rem;
// here wee go. Every thing is ok
// i'm gooing your problem is solved. stay blessed
