.section-about{
background:$color-grey-light;
padding:20rem 0;
margin-top:-20vh ;
height: 130vh;
}

.section-feature{
  
    padding: 15rem 0;
    background: linear-gradient(to right bottom, rgba($color-primary-light, 0.69),
     rgba($color-primary-dark, 0.7)), 
    url("../image/nat-4.jpg");
  background-size: cover;
  height: 80vh;
  transform :skewY(-5deg); 
  margin-top: -10rem;
  &>*{
    transform:skewY(5deg); 
}

}

.section-tours{
  background-color:$color-grey-light;
  padding: 15rem 0 5rem 0;
  margin-top: -5rem;
  height: 90rem;
}

.section-stories{
padding: 5rem 0;
background-color: $color-grey-light;
}

.section-book{
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
  
  padding: 10rem 0;
}

.book{
  
  background-size: 100%;
  height: 46rem;
  background-image: linear-gradient(105deg, rgba($color-white, .7) 0%,
                    rgba($color-white, .7) 50%, 
                    transparent 50%), url("../image/nat-10.jpg");
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);


}